<%
if (locals.messages) {
    %>
        <ul>
            <%
                for (let message of locals.messages) {
                    %>
                    <li><%- message %></li>
                    <%
                }
            %>
        </ul>
    <%
}
%>