<%- include('header_guest') %>
<div class="content">
    <p>Welcome, you have signed up!</p>
    <p>Now you can <a href="/">log in with your username and password</a> or <a href="signup">create another new account</a>.</p>
</div>

